/* CSS FOR COLOR PICKER */
.red {
  background-color: rgb(240,128,128);
}
.orange {
  background-color: rgb(255, 155, 0);
}
.yellow {
  background-color: rgb(255, 218, 0);
}
.green {
  background-color: rgb(149, 214, 65);
}
.teal {
  background-color: rgb(41, 233, 185);
}
.blue {
  background-color: rgb(63, 195, 255);
}

.temp  {
  background-color: gray;
}

/* RED ITEM STYLE */
.vis-item.red
#red {
}

.vis-item.vis-dot.red {
  border-color: rgb(240,128,128)
}

.vis-item.vis-line.red {
  border-color: rgb(240,128,128);
}

/* ORANGE ITEM STYLE */
.vis-item.orange
#orange {
}

.vis-item.vis-line.orange {
  border-color: rgb(255, 155, 0);
}

.vis-item.vis-dot.orange {
  border-color: rgb(255, 155, 0);
}

/* YELLOW ITEM STYLE */
.vis-item.yellow
#yellow {
}

.vis-item.vis-line.yellow {
  border-color: rgb(255, 218, 0);
}

.vis-item.vis-dot.yellow {
  border-color: rgb(255, 218, 0);
}

/* BLUE ITEM STYLE */
.vis-item.blue
#blue {
}

.vis-item.vis-dot.blue {
  border-color: rgb(63, 195, 255);
}

.vis-item.vis-line.blue {
  border-color: rgb(63, 195, 255);
}

/* TEAL ITEM STYLE */
.vis-item.teal
#teal {
}

.vis-item.vis-dot.teal {
  border-color: rgb(41, 233, 185);
}

.vis-item.vis-line.teal {
  border-color: rgb(41, 233, 185);
}

/* GREEN  ITEM STYLE */
.vis-item.green
#green {
}

.vis-item.vis-dot.green {
  border-color: rgb(149, 214, 65);
}

.vis-item.vis-line.green {
  border-color: rgb(149, 214, 65);
}

.vis-item.default {
}


/* HIDDEN ITEM STYLE */
.vis-item.hidden {
  display:none;
}

.vis-item.vis-line.hidden {
  display:none;
}

.vis-item.vis-dot.hidden {
  display:none;
}

/* DEFAULTS */
.vis-item.default {
}

.vis-item.vis-selected {
  border-color: rgb(255,194,0);
  box-shadow: 0 0 10px rgb(255,194,0);
}
