<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

    <script src="lib/vis/vis.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.9.0/vis.min.js"> -->
    <link href="lib/vis/vis.css" rel="stylesheet" type="text/css" />
    <link href="css/item.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="lib/datetimepicker.js"></script>
    <link rel="stylesheet" href="css/datetimepicker.css" type="text/css">

    <script src="js/contextMenu.js"></script>
    <script src="js/app.js"></script>
    <script src="js/timelineController.js"></script>
    <script src="js/settingsController.js"></script>
    <script src="js/itemContentDisplayController.js"></script>
    <script src="js/listViewController.js"></script>


  </head>
  <body ng-app="app">
    <div ng-controller = "SettingsController as sc">
      <md-toolbar class="md-whiteframe-z1" layout="row" layout-align="center left" style="color:black;background-color:white;align-items:center;padding-left:10px;height:50px">
        <md-button class="md-icon-button" ng-click="sc.toggleNav()" aria-label="Settings" >
          <i class="material-icons md-24" ng-class="font.theme" style="color:black;vertical-align: middle">menu</i>
        </md-button>
        <h2 class="md-headline"><span>Personal Timeline</span></h2>
      </md-toolbar>

      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar>
          <div class="md-toolbar-tools">
            Labels
          </div>
        </md-toolbar>
        <md-radio-group ng-model="sc.selectedLabel" class="md-primary">
          <md-radio-button ng-repeat="label in sc.labels" ng-value="label">{{label}}</md-radio-button>
        </md-radio-group>
      </md-sidenav>
    </div>

    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Visual">

          <div ng-controller="MainController as main" layout="column">
            <md-content layout="row">
              <div layout="column" flex="85">
                <div id="timelineBar" context-menu="menuOptions(item)"></div>
              </div>
              <md-list flex class="md-whiteframe-z3" style="max-height:300px">
                <md-subheader class="md-no-sticky">Periods</md-subheader><md-divider></md-divider>
                <md-list-item ng-repeat="period in main.periods" ng-click="main.periodClick(period, $event)">
                  <p>{{period.content}}</p>
                  <md-icon-button class="md-secondary" ng-click="main.periodRowDelete(period)">
                    <i class="material-icons md-18" ng-class="font.theme" style="color:black;vertical-align: middle">clear</i>
                  </md-icon-button>
                  <md-divider></md-divider>
                </md-list-item>
              </md-list>
            </md-content>
            <md-content>
              <section layout="row" layout-sm="column" layout-align="left center">
                <md-button class="md-primary" ng-click="main.onSave($event)">Save</md-button>
              </section>
            </md-content>
          </div>

          <br>

          <div ng-controller="ItemContentDisplayController as itemDisplay" layout="row">
            <div ng-show="editEnabled" class="item-display">

              <script type="text/ng-template" id="item.dialog.html">
              <md-dialog flex='90' aria-label="Item Edit Dialog">
                <form>
                <md-toolbar layout-padding>
                  <md-input-container>
                     <input ng-model="tempItem.content" aria-label="Title" style="color:white">
                   </md-input-container>
                </md-toolbar>
                <md-dialog-content>
                  <div layout="column" layout-sm="column">

                    <md-input-container flex>
                      <label>Journal</label>
                      <textarea ng-model="tempItem.journal" columns="1">{{item.journal}}</textarea>
                    </md-input-container>
                    <br>

                    <label>Labels</label>
                    <md-chips ng-model="tempItem.labels" readonly="false"></md-chips>
                    <br>
                    <label>Date</label>
                    <md-datepicker ng-model="startDate" ng-show="displayDates" md-placeholder="Enter date"></md-datepicker>
                    <md-datepicker ng-model="endDate" ng-show="displayDates" md-placeholder="Enter date"></md-datepicker>
                    <br>
                    <div class="menu-demo-container"layout-align="left center" layout="column">
                      <md-menu md-offset="0 -7">
                        <div layout="row" layout-align="left center">
                          <md-button aria-label="Open Color Picker" class="md-icon-button" ng-click="$mdOpenMenu()">
                            <i md-menu-origin class="material-icons md-36">format_color_fill</i>
                          </md-button>
                          <div ng-class="tempItem.className" style="width:100%;border-radius:50px"></div>
                        </div>
                        <md-menu-content width="3">
                          <md-menu-item ng-repeat="color in colorClasses">
                            <md-button ng-class="color" ng-click="announceSelection($index)">
                              <span md-menu-align-target>{{color}}</span>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </div>

                  </div>
                </md-dialog-content>
                <div class="md-actions" layout="row">
                  <span flex></span>
                  <md-button ng-click="answer('save')" class="md-primary">Save</md-button>
                  <md-button ng-click="answer('cancel')" class="md-primary">Cancel</md-button>
                </div>
                </form>
              </md-dialog>
              </script>

              <md-whiteframe class="md-whiteframe-z1" layout="column" layout-margin >
                <md-toolbar>
                  <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="showItemEdit($event)" ng-disabled="!editEnabled" aria-label="Edit">
                      <md-icon md-svg-icon="https://upload.wikimedia.org/wikipedia/commons/7/77/Gear_icon.svg" ng-class="font.theme"></md-icon>
                    </md-button>
                    <h2><span>{{item.content}}</span></h2>
                  </div>
                </md-toolbar>
                <div flex-order="1">
                  <md-chips ng-model="item.labels" readonly="true"></md-chips>
                </div>
                <div flex-order="2" style="padding:5px">
                  <div style="width: 100%;white-space: pre-wrap;">{{item.journal || 'no description'}}</div>
                </div>
              </md-whiteframe>
            </div>
          </div>
        </md-tab>

        <md-tab label="List">
          <md-list>
            <div ng-controller="ListViewController as lv" layout="column">
              <md-list-item ng-repeat='item in items["_data"]' class="md-3-line md-long-text">
                <md-subheader >{{item.content}}</md-subheader>
                <md-divider></md-divider>
              </md-list-item>
            </div>
          </md-list>
        </md-tab>

        </md-tabs>
      </md-content>
    </div>

  </body>
</html>
