<!doctype html>
<html lang="" >
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    <script src="lib/vis/vis.js"></script>
  	<link href="lib/vis/vis.css" rel="stylesheet" type="text/css" />

    <script src="js/contextMenu.js"></script>
    <script src="js/app.js"></script>
    <script src="js/timelineController.js"></script>
    <script src="js/settingsController.js"></script>
    <script src="js/itemContentDisplayController.js"></script>

  </head>
  <body ng-app="app">
    <md-content>

      <div ng-controller = "SettingsController as sc">
        <md-toolbar layout="row" layout-align="center left" style="padding-left:10px">
          <md-button class="md-icon-button" ng-click="sc.toggleNav()" aria-label="Settings">
            <i class="material-icons md-48">menu</i>
          </md-button>
          <h2><span>Personal Timeline</span></h2>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
          <md-toolbar>
            <div class="md-toolbar-tools">
              Labels
            </div>
          </md-toolbar>
          <md-radio-group ng-model="sc.selectedLabel" class="md-primary">
            <md-radio-button ng-repeat="label in sc.labels" ng-value="label">{{label}}</md-radio-button>
          </md-radio-group>
        </md-sidenav>
      </div>

      <div ng-controller="MainController as main">
        <div id="visualization" context-menu="menuOptions(item)"></div>
        <md-content>
          <section layout="row" layout-sm="column" layout-align="left center">
            <md-button class="md-raised md-primary">Save</md-button>
          </section>
        </md-content>
      </div>
      <br>

      <div ng-controller="ItemContentDisplayController as itemDisplay" >
      <md-content ng-show="editEnabled">

        <script type="text/ng-template" id="item.dialog.html">
        <md-dialog  aria-label="Item Edit Dialog">
          <form>
          <md-toolbar layout-padding>
            <md-input-container>
               <input ng-model="tempItem.content" aria-label="Title" style="color:white">
             </md-input-container>
          </md-toolbar>
          <md-dialog-content>
            <div layout="column" layout-sm="column">

              <md-input-container flex>
                <label>Journal</label>
                <textarea ng-model="tempItem.journal" columns="1" md-maxlength="150">{{item.journal}}</textarea>
              </md-input-container>

                <label>Labels</label>
                <md-chips ng-model="tempItem.labels" readonly="false"></md-chips>

            </div>
          </md-dialog-content>
          <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('save')" class="md-primary">Save</md-button>
            <md-button ng-click="answer('cancel')" class="md-primary">Cancel</md-button>
          </div>
          </form>
        </md-dialog>
        </script>

        <md-whiteframe class="md-whiteframe-z1" layout="column" layout-margin>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button" ng-click="showItemEdit($event)" ng-disabled="!editEnabled" aria-label="Edit">
                <md-icon md-svg-icon="https://upload.wikimedia.org/wikipedia/commons/7/77/Gear_icon.svg" ng-class="font.theme"></md-icon>
              </md-button>
              <h2><span>{{item.content}}</span></h2>
            </div>
          </md-toolbar>
          <div layout-margin layout="row">
            <div flex>Start: {{item.start}}</div>
            <div ng-if=item.type=='range'> End: {{item.end}}</div>
          </div>
          <div flex flex-order="1">
            <md-chips ng-model="item.labels" readonly="true"></md-chips>
          </div>
          <div flex flex-order="2">
            <md-content layout layout-align="left center">
                <pre style="width: 100%;">{{item.journal || 'no description'}}</pre>
              <!-- </a> -->
            </md-content>
          </div>
        </md-whiteframe>

      </md-content>
      </div>

    </md-content>
  </body>
</html>
