<!doctype html>
<html lang="" >
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    <link href="lib/angular-xeditable/xeditable.css" rel="stylesheet">
    <script src="lib/angular-xeditable/xeditable.js"></script>

    <script src="lib/vis/vis.js"></script>
  	<link href="lib/vis/vis.css" rel="stylesheet" type="text/css" />

    <script src="js/contextMenu.js"></script>
    <script src="js/app.js"></script>

  </head>
  <body ng-app="app">
    <div ng-controller="MainController as main" context-menu="menuOptions(item)">
      <md-content layout-padding style="height: 200px;padding: 24px;" layout-align="left center">
        <pre>{{main.itemDump}}</pre>
      </md-content>
      <div>
        <div id="visualization"></div>
      </div>
      <md-content>
        <section layout="row" layout-sm="column" layout-align="left center">
          <md-button class="md-raised md-primary">Save</md-button>
          <md-button class="md-raised" ng-click="main.getData()">JSON</md-button>
        </section>
      </md-content>
    </div>
    <div ng-controller="ItemInfoController as itemDisplay" layout-padding style="height: 600px;">
      <script type="text/ng-template" id="item.dialog.html">
      <md-dialog  aria-label="Item Edit Dialog">
        <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>{{item.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="answer('not applicable')">
              Close
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <textarea>
            {{item.journal}}
          </textarea>
        </md-dialog-content>
        <div class="md-actions" layout="row">
          <span flex></span>
          <md-button ng-click="" class="md-primary">
           Save
          </md-button>
        </div>
        </form>
      </md-dialog>
      </script>

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="showItemEdit($event)" ng-disabled="!editEnabled" aria-label="Edit">
            <md-icon md-svg-icon="https://upload.wikimedia.org/wikipedia/commons/7/77/Gear_icon.svg" ng-class="font.theme"></md-icon>
          </md-button>
          <h2><span>{{itemDisplay.title}}</span></h2>
        </div>
      </md-toolbar>
      <md-content layout layout-align="left center">
          <pre>{{itemDisplay.journal || 'no description'}}</pre>
        <!-- </a> -->
      </md-content>
  </div>
  </body>
</html>
