<md-dialog flex='90' aria-label="Item Edit Dialog">
  <form>
  <md-toolbar layout-padding>
    <md-input-container>
       <input ng-model="tempItem.content" aria-label="Title" style="color:white">
     </md-input-container>
  </md-toolbar>
  <md-dialog-content>
    <div layout="column" layout-sm="column">

      <md-input-container flex>
        <label>Journal</label>
        <textarea ng-model="tempItem.journal" columns="1">{{item.journal}}</textarea>
      </md-input-container>
      <br>
      <br>
      <label>Labels</label>
      <md-chips ng-model="tempItem.labels" readonly="false"></md-chips>
      <br>
      <label>Date</label>
      <time-date-picker ng-model="startDate"></time-date-picker>
      <!-- <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker>
      <md-datepicker ng-model="endDate" ng-show="displayDates" md-placeholder="Enter date"></md-datepicker> -->
      <br>
      <div class="menu-demo-container"layout-align="left center" layout="column">
        <md-menu md-offset="0 -7">
          <div layout="row" layout-align="left center">
            <md-button aria-label="Open Color Picker" class="md-icon-button" ng-click="$mdOpenMenu()">
              <i md-menu-origin class="material-icons md-36">format_color_fill</i>
            </md-button>
            <div ng-class="tempItem.className" style="width:100%;border-radius:50px"></div>
          </div>
          <md-menu-content width="3">
            <md-menu-item ng-repeat="color in colorClasses">
              <md-button ng-class="color" ng-click="announceSelection($index)">
                <span md-menu-align-target>{{color}}</span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>

    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('save')" class="md-primary">Save</md-button>
    <md-button ng-click="answer('cancel')" class="md-primary">Cancel</md-button>
  </div>
  </form>
</md-dialog>
